*{
    margin: 0;
    padding: 0;
}
.layout{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.side-bar{
    width: 25%;
   background-color: #abacada8;;
   overflow-y: scroll;
   height: 100vh;
}
.main{
    width: 75%;
}
.hero{
    background-image: url(./images/hero-bg.png);
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    flex-direction: column;
}

.hero div{
    line-height: 2
}
.profile img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.text-box{
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}
.text-box p{
    font-size: 12px;
    letter-spacing: 3px;
    
}
.text-box p span{
    color: blue;
}
ul{
    text-align: center;
    line-height: 2;
    font-size: 15px;
    
}
ul li{
    list-style-type: none;
}
ul li a{
    color: #fff;
    text-decoration: none;
}
small{
    color: #fff;
}